<img src="https://raw.githubusercontent.com/toqafotoh/TeamPreparation/main/Screenshot%202023-10-05%20005740.png">

# Q1 
1. take the value of x,y from user as integer
2. print their additon,subtraction

# Q2
Given an integer n ,**write a function takes the number** and performs the following conditional actions:

üî∏ If n is odd, print "Weird"

üî∏ If n is even and in the inclusive range of 2 to 5 , print "Not Weird"

üî∏ If n is even and in the inclusive range of 6 to 20 , print "Weird"

üî∏ If n is even and greater than 20 , print "Not Weird"

# Q3
As you have the provided list , do the following operations 

üî∏ add "hr" after "os" then print the list and it's length

In [ ]:
list1 = ["co","os","db2","ai","ml","pl3"]

üî∏remove the "co" then print the list

üî∏ remove the second item of the list **using it's index**

üî∏ print the last three items **using slicing**

üî∏ print the first item **using negative indexing**

üî∏ join the following list with the previous one

In [ ]:
list2 =["ethics","parallel"]


1. using bulit in funcion

2. using loop

# Q4
Create a list that includes the odd numbers from 1 to 10 **using list comprehension**

# Q5 
Create a list of integers from 1 to 20 **using list comprehension**

Then perform the following  **using list comprehension**

üî∏create a list of squares of each number in the original list

üî∏create a list of even numbers from the original list

 üî∏print the minmum, maximum and the sum of the original list

üî∏print the second smallest value in the original list

# Q6 
üî∏ Write a **lambda** function that calculates the area of a circle - not with the normal function - , and then print it as float number which have 2 decimal places

# Q7 
üî∏ Given this string print the following 
1. the first 5 characters of the string.
1. the last 10 characters of the string.
3. the characters from the 10th position to the 20th position
4. the length of the string.

In [ ]:
s = "Helwan University is hot ,the temperature is always above 30."

üî∏ check if the string includes the word "Helwan"

üî∏ replace the word "temperature" with "climatic conditions"

üî∏ print the string in reverse order

üî∏ Remove all the spaces from the string

üî∏ print the number of occurrences of letter "e"

üî∏ split the string into 2 stings based on the comma

# Q8 
üî∏ giving the following two sets .. find thier union, intersection, difference

In [12]:
set1 = set(range(2, 11, 2))
set2 = set(range(5, 16, 2))

üî∏ giving the following two sets, check if set_A is a subset of set_B and vice versa

In [16]:
set_A = {1,2,3,4,5,6,7}
set_B = {3,4,5,6,7}

üî∏ check if set_A and set_B are mutually exclusive

# Q9 
given the following list of numbers , write **a function** that returns only the unique numbers from the list 

‚ú® Hint --> use conversion between types

In [21]:
l = [1,2,2,3,4,4,5]

#### NOTE ‚ú® : you can create a tuple without parentheses , only comma separated values

#### and that called packing

In [3]:
tuple1 = 1, 2, 3, "hello"
print(tuple1)
print (type(tuple1))

(1, 2, 3, 'hello')
<class 'tuple'>

#### you can also unpacking tuple into separated variables

In [5]:
a,b,c,d = tuple1

#### and that helps when you want to pass tuple elements to a function as a separated elements for example

# Q10 
As you know the tuple is unchangable , Giving the following tuple 
1. change the second element to be 5 
2. delete the last element 
3. remove duplication 

ÿ¥ÿßŸäŸÅ ÿßŸÑÿØÿßÿ™ÿß ÿ™ÿßŸäÿ® ÿßŸÑŸÑŸä ŸÖÿ®Ÿäÿ™ÿ∫Ÿäÿ±ÿ¥ ÿØÿ© ÿü ÿ∫Ÿäÿ±ŸáŸàŸÑŸä

In [ ]:
tuple2 = (-3, 2, 5, -1, 2, 7, 6, -4)

# Q11

Write a function that takes a string as input and returns a dictionary containing the index of each character in the string.

Example:

Input: "hello"

Output: {'h': 0, 'e': 1, 'l': 2, 'o': 3}

# Q12 
üî∏ Create a dictionary **using the constructor**, that contains your personal information & extract the keys and values

üî∏ giving the following dict 
1. remove the year field 
2. add color = "red" with two different ways 
3. change the size with two different ways

In [ ]:
dress = {
    "brand" :"zara",
    "size" : "Small",
    "year" : 2012 ,
    "model" :"mini dress"
}

üî∏ get the size of the dress using 2 ways

#### NOTE ‚ú® : integer_list = map(int, input().split())
this line of code let you take input from user in one line - space separated elements - and read it as a list of strings , then convert it to integer 

#### NOTE ‚ú® : print(5*".")
this line of code prints 5 dots , you can print any number of any symbol

### üí• Here is a comaprsion between the 4 main data types

<img src="https://raw.githubusercontent.com/toqafotoh/TeamPreparation/main/Screenshot%202023-10-05%20004307.png">